@using PersonalGameLibrary.Database
@using PersonalGameLibrary.Database.models
@inject GameLibraryDbContext DbContextGame;
@page "/library"

<PageTitle>Library</PageTitle>

<h1 @onclick="Testtt">Here goes your game library</h1>

@code
{
    private async Task Testtt()
    {
        DbContextGame.Games.Add(new Game());
        await DbContextGame.SaveChangesAsync();
    }
}
